[Unit]

Description= INDI driver for VATT hexapod
After = VATTHEX-INDI.target


[Service]
Type=simple
ExecStart=/usr/bin/websocketd -port 3000 /usr/local/bin/webclient-indi
User=root

[Install]
WantedBy=default.target
